extends ../layout
block content
	table.table.table-hover.table-striped.table-bordered
		thead
			tr
				th Request Title
				th Location
				if!(user.role == "business")
					th Request By
					if(title == "Recent Requests")
						th Respond
			tbody
				each request in requests
					tr
						td
							a(href="/requests/#{request._id}")
								| #{request.title}
						td  #{request.location}
						if!(user.role == "business")
							td  #{request.created_by.profile.name}
							if(!request.approved)
								td
									a(href="/requests/#{request._id}/response")
										span.view-details  Respond to request