//
	Created by Ashok on 4/30/2014.

extends ../layout
block content
	.row
		.col-sm-4
			form(method='post')
				.form-group
					label Email
					input.form-control(type='email', name='email', value = "#{user.local.email}", disabled)
				.form-group
					label Name
					input.form-control(type='text', name='name', value = "#{user.profile.name}")
				.form-group
					label Phone Number
					input.form-control(type='text', name='phone', value = "#{user.profile.phone}")
				.form-group
					label Location
					input.form-control(type='text', name='location', value = "#{user.profile.location}")
					input.form-control(type='hidden', pattern="[0-9]{13,16}", name='card', value = "#{user.profile.card}")
					input.form-control(type='hidden', name='type', value = "#{user.profile.type}")
					input.form-control(type='hidden', name='contact', value = "#{user.profile.contact}")
					input.form-control(type="hidden", name='details', value = "#{user.profile.details}")
					input.form-control(type='hidden', name='timings', value = "#{user.profile.timings}")
					input.form-control(type='hidden', name='account', value = "#{user.profile.account}")

				.form-group
				button.btn.btn-success.btn-md(type='submit') Save