doctype html
html
	head
		include includes/metaInfo
		include includes/scripts
		include includes/fonts
		include includes/styles
		link(href='/stylesheets/style.css', rel='stylesheet', type='text/css')
		title App | #{title}
	body.skin-blue
		header.header
			a.logo(href='/')  APP
			nav.navbar.navbar-static-top(role='navigation')
				a.navbar-btn.sidebar-toggle(href='#', data-toggle='offcanvas', role='button')
					span.sr-only Toggle navigation
					span.icon-bar
					span.icon-bar
					span.icon-bar
				.navbar-right
					ul.nav.navbar-nav
						block notifications
						//li.dropdown.notifications-menu
							a.dropdown-toggle(href='#', data-toggle='dropdown')
								i.fa.fa-warning
								span.label.label-warning 10
						li.dropdown.user.user-menu
							a.dropdown-toggle(href='#', data-toggle='dropdown')
								i.glyphicon.glyphicon-user
								if locals.user
									span
										| #{user.profile.name}
										i.caret
							ul.dropdown-menu
								li.user-header.bg-light-blue
									if locals.user
										img.img-circle(alt='User Image')
										p
											| #{user.role}
								li.user-footer
									.pull-left
										a.btn.btn-default.btn-flat(href='/profile') Profile
									.pull-right
										a.btn.btn-default.btn-flat(href='/logout') Logout
		.wrapper.row-offcanvas.row-offcanvas-left
			aside.left-side.sidebar-offcanvas
				section.sidebar
					.user-panel
						if locals.user
							.pull-left.image
								img.img-circle(src='/images/avatar3.png', alt='User Image')
							.pull-left.info
								p Hello,
								p #{user.profile.name}
					ul.sidebar-menu
						li
							a(href='/')
								i.fa.fa-dashboard
								span Dashboard
						li.treeview
							a(href='/')
								i.fa.fa-th
								span Requests
								i.fa.fa-angle-left.pull-right
							ul.treeview-menu
								li
									a(href='/requests/recent')
										i.fa.fa-angle-double-right
										| New requests
								li
									a(href='/requests/approved')
										i.fa.fa-angle-double-right
										| Approved Requests
								if(user.role == "business")
									li
										a(href='/requests/new')
											i.fa.fa-angle-double-right
											| Create New Request
						li
							a(href='/notifications')
								i.fa.fa-plus-square-o
								span Notifications
						//if(locals.user.role == "admin")
						li.treeview
							a(href='/users')
								i.fa.fa-user
								span Users
								i.fa.fa-angle-left.pull-right
							ul.treeview-menu
								li
									a(href='/users')
										i.fa.fa-angle-double-right
										| All Users
								li
									a(href='/users/create')
										i.fa.fa-angle-double-right
										| Create a New user


			aside.right-side
				section.content-header
					h1 #{title}
				section.content
				block content
